

html,
body{
    height: 100%;
    margin: 0;
    font: size 16px; ;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1em;
    color: black

}.pimg1{
    background-image: url(indian\ flag.jpg);
    min-height: 100%;

    position: relative;
    background-position: center;
    background-size: cover;
    border: 10px solid royalblue;
    
}

#main{
    max-width: 100%;
    max-height: 100%;
    margin: 30px,auto;
    padding: 15px;
    border-radius: 1px;
}
#title{
    text-align: center;
     
}
#main p{
    text-align: center;
    
}
#img-div{
    max-width: 600px;
    margin: 0,auto;
    padding: 15px;
    background-color: blue
}
#image{
    display: block;
    max-width: 100%;


}
#tribute-info{
    max-width: 800px;
    margin: 0,auto;

}
#tribute-info > h3 {
    text-align: center ;

      
}
#triute-info ul li{
    margin-bottom: 10px;
    line-height: 30px;
}
h5{
    text-align: center;
}
